.nav-links {	
    background-color: transparent;	
    display: flex;
    text-align: center;	
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}	

.nav-links li {	
    display: flex;
    flex-flow: row wrap;	
}	

.nav-links li a{	
    color: white;	
    padding: 14px 16px;	
    text-align: center;	
    text-decoration: none;	
    justify-content: center;
    font-size: 20px;
}	

.nav-links li a:hover {	
    background-color: rgb(90, 102, 114);	
    cursor: pointer;	
}	


body {	
    background-color: slategray;	
    color: floralwhite;	
    font-family: 'Bebas Neue', cursive;
}	

body h1 {
    text-align: center;
    justify-content: center;
    font-size: 400%;
    margin: 0 auto;

}

.projectsPage {	
    background-color: steelblue;	
    display: flex;	
}	

.project-card {	
    text-align: center;	
    width: 30em;	
    flex: 0 0 28%;	
    display: flex;	
    flex-flow: column;	
    align-content: center;	
    border-radius: 1em;	
    background-color: #474343a1;	

}	

.show {	
    display: flex;	
}	

.project-card p {	
    text-align: center;	
    color: rgb(162, 168, 173);	
    margin: 0 auto;	
}	

.project-card img {	
    height: 15em;	
    width: 30em;	
    margin: .5em;	
    align-self: center;	
    border-inline: 2px 2px #101010;	
}	

.project-card a {	
    padding: .5em;	
}	

.project-card:hover {	
    opacity: 1;	
    background-color: #101010;	
}	

.cardhead {	
    background-color: #824670;	
    height: 4em;	
    text-align: center;	
    justify-content: center;	
    border-top-left-radius: 3em;	
    border-top-right-radius: 3em;	
    color: whitesmoke;	
}	
