@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

nav.navbar-light {
  background-color: rgba(129, 129, 129, 0.96) !important;
}

body.fullPage {
  background-color: slategray;
  color: whitesmoke;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
}

p {
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
}

.card {
  margin: 1px;
  background-color: snow;
}

.card h1, p{
  color: slategray;
}

.card h1 {
  text-align: center;
}
