@import "~bootstrap/scss/bootstrap";
// @import "~@fortawesome/fontawesome-free/css/all.min.css";

nav.navbar-light {
  background-color: rgba(129, 129, 129, 0.96) !important;
}

body.fullPage {
  background-color: whitesmoke;
  color: rgb(54, 54, 54);
}

.jumbotron {
  font-family: 'Domine', serif;
  background-image: url("../../assets/Cropped.png");
  background-size: cover;
  height: 100%;
  width: auto;

}

.fullPage p {
  font-family: 'Open Sans', sans-serif;
}


